<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="Port" value="3"/>
    <add key="BraudRate" value="9600"/>
    <add key="Timeout" value="300"/>
    
  </appSettings>
  <connectionStrings>
    <add name="sqlconSMSSender" providerName="System.Data.SqlClient" connectionString="Data Source=150.1.122.27;Initial Catalog=dbksclCallCenter;User ID=sa;Password=123;Connection Timeout=600;"/>
  </connectionStrings>
  
</configuration>

<!--connectionString="Data Source=120.130.1.2;Initial Catalog=dbksclCallCenter;User ID=sa;Password=122;Connection Timeout=600;"/>-->